
.container-show {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  // border: 3px solid $main-blue;
  // border-radius: 20px;
  margin-top: 50px;
  padding: 20px 0;
  color: $dark-blue;
}

.meet-name {
  // padding: 40px;
  font-size: 60px;
}

.dog-info p {
  font-size: 24px;
  text-align: left;
}

.dog-image {
  padding: 20px;
}

.dog-info {
  padding: 20px;

}

#dog-row {
  min-width: 1100px !important;
}

.info-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  vertical-align: middle;
  // width: 590px;
}

.info-wrapper h3 {
  position: absolute;
  top: 76px;
}

.dog-image {
  border-radius: 30%;
}

.flatpickr-calendar.inline {
  margin: auto;
}


[role="button"] {
  background: #3FABAA;
  opacity: 0.2;
}

.modal-content .form-control {
  text-align: center;
}

// .banner-content .form-control {
//   text-align: center;
// }
