.form-buttons {
  border-top: 3px solid #999;
  padding-top: 20px;
}

.reset-password {
  margin-top: 8px;
  text-decoration: none;
  color: #888;
}

.reset-password:hover {
  text-decoration: none;
  color: #444;
}
