  <div class="banner">
    <div class="banner-content">
      <h1>Paw Pals</h1>
      <p>Fostering connections between peeps and pups.</p>
      <a href="#" class="btn-cta">Explore</a>
    </div>
  </div>


<div class="container">
  <div class="row">

<div class="col-xs-12 col-sm-6 col-md-3">
 <div class = "card">
    <img src="images/diamond.png" alt="picture description" width="100">
    <h2>Simple</h2>
    <p>A simple app, <strong>very simple</strong> app</p>
 </div>
 </div>

<div class="col-xs-12 col-sm-6 col-md-3">
 <div class = "card">
    <img src="images/heart.png" alt="picture description" width="100">
    <h2>Awesome</h2>
    <p>An awesome app, <strong>very awesome</strong> app</p>
 </div>
 </div>

<div class="col-xs-12 col-sm-6 col-md-3">
 <div class = "card">
    <img src="images/laptop.png" alt="picture description" width="100">
    <h2>Beautiful</h2>
    <p>A beautiful app, <strong>very beautiful</strong> app</p>
 </div>
 </div>

  </div>
</div>
