.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.main-dogs-container {
  display: flex;
  min-height: calc(100vh - 126px)
}

#map {
  width: 40%;
}

.dogs-container {
  flex-grow: 1;
}
