.navbar-pawpal {
  background: $main-blue;
}
.navbar-pawpal .navbar-brand img {
  width: 200px;
  margin-left: -61px;
}
.center{
  width:50%;
  display:flex;
  justify-content:space-between;
}
.navbar{
  display:flex;
  justify-content:space-between;
  height: 53px !important;
  z-index: 5;
}
.navbar-collapse {
    flex-basis: 100%;
    -webkit-box-flex: 1;
    flex-grow: 0 !important;
    -webkit-box-align: center;
    align-items: center;
}
.login{
  display: flex;
}
.login a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.login a:hover{
  color: $bright-teal;
}
