.navbar-pawpal {
  background: $main-blue;
}
.navbar-pawpal .navbar-brand img {
  width: 200px;
  margin-left: -61px;
}
.center{
  width:50%;
  display:flex;
  justify-content:space-between;
}
.navbar{
  display:flex;
  justify-content:space-between;
  height: 50px !important;
  width: 100%;
  height: 53px !important;
  z-index: 5;
}
.navbar-collapse {
    flex-basis: 100%;
    -webkit-box-flex: 1;
    flex-grow: 0 !important;
    -webkit-box-align: center;
    align-items: center;
}
.login{
  display: flex;
}
.login a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.login a:hover{
  color: $bright-teal;
}

.sign-in-form {
  margin-top: 90px;
  padding: 20px
}

// navbar custom

.nav-search {
  margin-top: 50px
}

.nav-input {
  background-color: transparent;
  border: transparent;
}

.nav-form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

#search-location {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.nav-form:hover{
    width: 200px;
    cursor: pointer;
}

.nav-form:hover .nav-input{
    display: block;
}

.nav-form:hover .fa{
    background: #07051a;
    color: white;
}

.dropup, .dropright, .dropdown, .dropleft {
    border: 3px solid #41AAA8;
    border-radius: 30px;
}

.dropdown:hover {
    border: 3px solid #51DACF;
    border-radius: 30px;
    cursor: pointer;
}

